<div>
    <h3>Orders</h3>
    <div class="orderList">
        {{!-- <div class="paymentDue-order">
            <button class="btn payment" type="submit" style="margin-left: auto">Pay</button>
            <button class="btn collect" type="submit" style="margin-left: auto">collect</button>
        </div> --}}

        <table>
          {{#each OderList}}
          <tr>
            <td><strong>#{{orderId}}</strong></td>
            <td><span class="smallTotalPrice">{{status}}</span></td>
            <td><span class="smallTotalPrice">R {{amount}}</span></td>
            <td> <button class="btn payment" type="submit" style="margin-left: auto">{{buttton}}</button></td>
          </tr>
          {{/each}}
        </table>

    </div>

    <a href="/">Back</a>
</div>